main > *{
    margin: 1rem;
}

h2 {
    font-size: x-large;
    font-weight: normal;
    height: max-content;
}

h3 {
    font-size: large;
    font-weight: normal;
    height: max-content;
}

.data {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.data > * {
    border: 1px solid var(--color4);
    padding: 0.5rem;
    border-radius: 1rem;
}

.data > *::before{
    content: "🗸 ";
}

.gallery {
    height: 60vh;
    background-color: var(--color0);
    position: relative;
}

.slide{
    display: none;
    text-align: center;
    animation-name: fade;
    animation-duration: 1s;
}

.slide.active{
    display: block;
}

.slide-img
{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    background-color: transparent;
    transition: background-color 0.6s ease;
}

.prev { 
    left: 0; 
}
.next { 
    right: 0; 
}

.prev:hover, .next:hover 
{
    background-color: rgba(255,255,255,0.5);
}

.dots > * {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot.active, .dot:hover 
{ 
    background-color: #111111;
}

.dots { 
    text-align: center;
}


.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-container > *:not(:last-child) {
    margin-bottom: 1rem;
}

.section {
    background-color: var(--color0_5);
    width: 90%;
    border-radius: var(--border-radius);
    display: flex;
    overflow: hidden;
    align-items: stretch;
    flex-grow: 1;
}

.section > img
{
    display: inline;
    margin: 0;
    position: relative;
    object-fit: cover;
}

.section-description > h3 {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

.section > p {
    margin: 1rem;
}

.section-description{
    margin: 0 1rem;
    max-width: max-content;
    flex-grow: 1;
}




.card, .linkcard {
    background-color: var(--color0_5);
    border-radius: var(--border-radius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--color4);
}

.linkcard
{
    align-items: center;
    gap: 1rem;
    min-width: 10rem
}

.linkcard-label {
    text-decoration: none;
    color: var(--color3);
    text-decoration: underline;
}

.linkcard > img {
    width: 5rem;
}

.link-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap : 0.5rem;
}

.link-container > * {
    flex: 1;
    flex-grow: 0;
}

.card-description {
    flex-grow: 1;
}

.card-description > h3 {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    font-weight: normal;
    height: max-content;
}

.card-image {
    width: 5rem;
    border-radius: 50%;
    border: 0.2rem solid var(--color4);
    padding: 1rem;
    margin: auto;
}

.card-image > img
{
    width: 100%;
    height: auto;
}

.card-bottom
{
    display: flex;
    flex-wrap: nowrap;
}

.card-bottom > .image-link {
    flex: 1;
}

.image-link
{
    text-decoration: none;
    color: var(--color4);
    display: flex;
    flex-direction: column;
}

.image-link > img
{
    width: 2rem;
    margin: 0 auto;
}

.image-link > div
{
    text-align: center;
    margin-top: 0.5rem;
}

.tab-content{
    background-color: var(--color0_5);
    overflow: hidden;
    padding: 1rem;
}

.tab-content-item{
    display: none;
}

.tab-content-item.active{
    display: block;
}

.tab-header{
    display: flex;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
}

.tab-header-item{
    flex: 1;
    background-color: var(--color0_9);
    padding: 1rem;
    min-width: 2rem;
    cursor: pointer;
    text-align: center;
}

.tab-header-item.active{
    background-color: var(--color0_5);
}

.tab-header-item > img{
    width: 100%;
    max-height: 3rem;
    object-fit: contain;
}



/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .section {
        flex-direction: column;
        height: max-content;
    }

    .section > img
    {
        width: 100%;
        height: 30%;
    }

    .card-container > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    .tab-content{
        border-radius: 0 0 var(--border-radius) var(--border-radius);
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 1024px) {
    .section {
        flex-direction: column;
        height: max-content;
    }

    .section > img
    {
        width: 100%;
        height: 30%;
    }

    .card-container > *:not(:last-child) {
        margin-bottom: 1rem;
    }

    .tab-content{
        border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    }
    .tab-header{
        max-width: max-content;
    }

    .tab-header-item {
        max-width: 5rem;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px){
    .section {
        flex-direction: row;
    }

    .section-container .section:nth-child(odd) {
        flex-direction: row;
    }

    .section-container .section:nth-child(even) {
        flex-direction: row-reverse;
    }

    .section > img
    {
        width: 40%;
        height: 100%;
    }

    .card-container {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
    
    .card-container > *:not(:last-child) {
        margin-right: 1rem;
    }
    
    .card-container > * {
        flex: 1;
    }

    .tab-content{
        border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
    }
    .tab-header{
        max-width: max-content;
    }

    .tab-header-item {
        max-width: 5rem;
    }
}

.title > h1 {
    color: var(--color4);
    display: block;
    font-size: x-large;
    max-width: 70%;
    margin: auto;
}

html {
    --border-radius: 1rem;
    --color0: rgb(40, 40, 40);
    --color0_5: rgba(40, 40, 40, 0.5);
    --color0_9: rgba(40, 40, 40, 0.7);
    --color1: rgb(32, 119, 217);
    --color3: rgba(40, 40, 40, 0.5);;
    --color2: rgba(40, 40, 40, 0.7);
    --color4: rgb(255, 255, 255);
    --color5: rgb(247, 239, 237);

    color : var(--color4);
    text-align: justify;  
    font-weight: 100;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-image: url('header/header.jpg');
    background-color: rgb(141, 141, 141);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;

}

.flex > * {
    flex: 1 1 200px;
    margin: 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
}


.info_section {
    padding: 1rem;
    border-radius: var(--border-radius);
    font-style: italic;
    background-color: var(--color0_5);
    border: 3px solid var(--color3);
}








/* --- HEADER --- */

header > h1 {
    text-align: center;
    color: var(--color4);
    font-size: xx-large;
    padding: 1rem;
    margin: 0;
}

header, footer {
    margin: 0;
    background-color: var(--color0_5);
}

nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}
  
nav > ul > li {
    float: left;
}

nav > ul > .right {
    float: right;
}
  
nav > ul > li a, footer a {
    display: block;
    color: var(--color4);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
  
nav > ul > li a:hover:not(.active) {
    background-color: var(--color0_9);
}
  
nav .active {
    background-color: #04AA6D;
}

/* --- MAIN --- */

video {
    width: 100%;
    height: auto;
}

main
{
    flex-grow: 1;
}

/* --- DIAPORAMA IMAGES --- */


.slide-text {
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.slide-index {
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}

.slide-dot { 
    text-align: center;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}


/* --- Tables --- */

table {
    table-layout: fixed;
    overflow: hidden;
    border-radius: var(--border-radius);
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

thead th {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgb(37, 36, 36)
  );
}

tbody tr:nth-child(odd) {
    background-color: var(--color3);
}

tbody tr:nth-child(even) {
    background-color: var(--color2);
}